.audio-strip {
    position: relative;
    width: 99.5%;
    --audio-height: 80px;
    height: var(--audio-height);

    background-color: #eee;
    margin: 0 10px 10px 0;
    border-radius: 10px;
}
.shiny {
    --x: 0;
    --y: 0;

    appearance: none;
    color: white;
    outline: none;

    border: 5px solid transparent;
    background: linear-gradient(#000, #000) padding-box,
        radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
            border-box;
}

/* ========================= */
.playable-grid {
    width: 59%;
    position: absolute;
    bottom: 20%;
    left: 40%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 5px;
}

/* =============================== */
@media only screen and (max-width: 1300px) {
    .playable-grid {
        width: 52%;
        --start-from: 47%;
        left: 47%;
    }
}
@media only screen and (max-width: 1000px) {
    .playable-grid {
        width: 55%;
        --start-from: 44%;
        left: 44%;
    }
}

@media only screen and (max-width: 900px) {
    .audio-strip {
        --audio-height: 180px;
        height: var(--audio-height);
    }
    .playable-grid {
        width: 90%;
        --start-from: 5%;
        left: 5%;
        bottom: 5%;
    }
}
