.control-panel-container {
    position: relative;
    display: inline-block;
    left: 0.5%;
    top: 15%;
    padding: 2.75%;
    /* margin-top: 100px; */

    width: 80%;
    height: 5%;

    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white-bg);
}
.relative {
    position: relative;
}
.control-panel {
    position: absolute;
    top: 12.5%;
}
@media only screen and (max-width: 1700px) {
    .control-panel {
        top: 7%;
    }
}
@media only screen and (max-width: 1300px) {
    .control-panel {
        top: 7%;
    }
    .control-panel-container {
        padding: 3.55%;
    }
}
@media only screen and (max-width: 1000px) {
    .control-panel-container {
        padding: 4.55%;
        /* padding-bottom: 20%; */
    }
}
@media only screen and (max-width: 900px) {
    .control-panel-container {
        padding: 4.55%;
        padding-bottom: 50%;
    }
}

.play {
    position: relative;
    display: inline-block;
    /* margin-left: 30px; */
}
.pause {
    position: relative;
    display: inline-block;
    /* margin-left: 30px; */
}

.loop {
    position: relative;
    display: inline-block;
    /* margin-left: 30px; */
}
.mute {
    position: relative;
    display: inline-block;
}
.about {
    /* width: 150%; */
    padding: 2.35rem 10em;
    border-radius: 5px;
    font-size: 30px;
    /* padding-: 150%; */
}

.about-c {
    position: absolute;
    left: 110%;
    top: 3px;
}
