.card {
    position: relative;
    background-color: blanchedalmond;
    height: 50px;
    width: 95%;
    cursor: pointer;
}

.active-card {
    background-color: var(--primary);
    transition: ease-in all 0.12s;
}
