.audio-player {
    --primary: #effbfe;
    --secondary: #234664;

    position: relative;
    top: 25%;
    left: 2.5%;
    align-items: center;
    display: flex;
    width: 90%;
}

.control-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    color: #eee;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
}

.control-btn:hover {
    color: var(--primary);
    transition: all ease-in 0.5s;
}

.active {
    transition: all ease-in 0.2s;
    color: var(--primary);
}

.play-pause {
    background: var(--primary);
    border: none;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    font-size: 32px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-time,
.duration {
    font-family: monospace;
    font-size: 16px;
    position: relative;
    /* top: 9px; */
    right: 10px;
    margin-left: 25px;
}

.progress-bar {
    --bar-bg: #ffe3d4;
    --seek-before-width: 0;
    --seek-after-width: 0;
    --seek-before-color: #ffc2a1;
    --knobby: #3452a5;
    --selectedKnobby: #26c9c3;

    appearance: none;
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

.progress-bar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

.progress-bar::before {
    content: "";
    height: 20px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    /* background-color: black; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.progress-bar::after {
    content: "";
    height: 20px;
    width: var(--seek-after-width);
    background-color: var(--seek-before-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    right: -5%;
    z-index: 1;
    cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 15px;
    /* border-radius: 50%; */
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -5px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

.progress-bar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}

section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 9px;
    outline: none;
    height: 18px;
}
.control-btns-container {
    position: relative;
    display: flex;
}

@media only screen and (max-width: 1300px) {
    section.range-slider {
        width: 150px;
    }
}
@media only screen and (max-width: 1000px) {
    section.range-slider {
        width: 80px;
    }
}
@media only screen and (max-width: 900px) {
    section.range-slider {
        margin-left: 10px;
        width: 240px;
    }
    .control-btns-container {
        position: absolute;
        top: -40px;
    }
    .currentTime,
    .duration {
        font-family: monospace;
        font-size: 16px;
        position: absolute;
        top: 75%;
        left: 10%;
        margin-left: 25px;
    }
}

.range-values {
    position: relative;
    bottom: 15px;
}

.end.progress-bar::-webkit-slider-thumb {
    background-color: black;
}
.start.progress-bar::-webkit-slider-thumb {
    background-color: black;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}
