.slider-container {
    position: relative;
    left: 7.5%;
    top: 40px;

    padding: 2.75%;
    margin-top: 80px;

    width: 80%;
    height: calc(25px + 2%);

    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white-bg);
}
.slider {
    position: relative;
    bottom: 50%;
}
.item {
    position: relative;
    max-height: calc(25px + 2.5%);

    padding-top: calc(1px + 8%);
    padding-bottom: calc(1px + 8%);
    margin-left: 2.5px;
    margin-right: 2.5px;
    border-radius: 5px;
    z-index: 1;

    color: var(--text-primary);
    background-color: var(--header-button-bg);
}
